In [1]:
!pip install GetOldTweets3

Requirement already satisfied: GetOldTweets3 in c:\users\quynh\anaconda3\lib\site-packages (0.0.11)
Requirement already satisfied: pyquery>=1.2.10 in c:\users\quynh\anaconda3\lib\site-packages (from GetOldTweets3) (1.4.1)
Requirement already satisfied: lxml>=3.5.0 in c:\users\quynh\anaconda3\lib\site-packages (from GetOldTweets3) (4.5.0)
Requirement already satisfied: cssselect>0.7.9 in c:\users\quynh\anaconda3\lib\site-packages (from pyquery>=1.2.10->GetOldTweets3) (1.1.0)

In [2]:
from pandas import DataFrame, read_csv
import pandas as pd 
twitter_url_reps = r'../legislators-current.csv'
pd.set_option('mode.chained_assignment', None)
df = pd.read_csv(twitter_url_reps)

In [3]:
df.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
3,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
4,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

In [4]:
new = df[['full_name', 'twitter', 'party', 'type', 'gender', 'state', 'district']]
new.rename(columns={'full_name': 'name', 'type': 'title', 'state': 'area_id'}, inplace=True)
new.head(5)

,name,twitter,party,title,gender,area_id,district
0,Sherrod Brown,SenSherrodBrown,Democrat,sen,M,OH,NaN
1,Maria Cantwell,SenatorCantwell,Democrat,sen,F,WA,NaN
2,Benjamin L. Cardin,SenatorCardin,Democrat,sen,M,MD,NaN
3,Thomas R. Carper,SenatorCarper,Democrat,sen,M,DE,NaN
4,"Robert P. Casey, Jr.",SenBobCasey,Democrat,sen,M,PA,NaN

In [5]:
new.loc[new['area_id'].str.contains('AL'), 'area_id'] = 'alabama'
new.loc[new['area_id'].str.contains('AK'), 'area_id'] = 'alaska'
new.loc[new['area_id'].str.contains('AR'), 'area_id'] = 'arkansas'
new.loc[new['area_id'].str.contains('AZ'), 'area_id'] = 'arizona'
new.loc[new['area_id'].str.contains('CA'), 'area_id'] = 'california'
new.loc[new['area_id'].str.contains('CO'), 'area_id'] = 'colorado'
new.loc[new['area_id'].str.contains('CT'), 'area_id'] = 'connecticut'
new.loc[new['area_id'].str.contains('DE'), 'area_id'] = 'delaware'
new.loc[new['area_id'].str.contains('FL'), 'area_id'] = 'florida'
new.loc[new['area_id'].str.contains('GA'), 'area_id'] = 'georgia'
new.loc[new['area_id'].str.contains('HI'), 'area_id'] = 'hawaii'
new.loc[new['area_id'].str.contains('ID'), 'area_id'] = 'idaho'
new.loc[new['area_id'].str.contains('IL'), 'area_id'] = 'illinois'
new.loc[new['area_id'].str.contains('IN'), 'area_id'] = 'indiana'
new.loc[new['area_id'].str.contains('IA'), 'area_id'] = 'iowa'
new.loc[new['area_id'].str.contains('KS'), 'area_id'] = 'kansas'
new.loc[new['area_id'].str.contains('KY'), 'area_id'] = 'kentucky'
new.loc[new['area_id'].str.contains('LA'), 'area_id'] = 'louisiana'
new.loc[new['area_id'].str.contains('ME'), 'area_id'] = 'maine'
new.loc[new['area_id'].str.contains('MD'), 'area_id'] = 'maryland'
new.loc[new['area_id'].str.contains('MA'), 'area_id'] = 'massachusetts'
new.loc[new['area_id'].str.contains('MI'), 'area_id'] = 'michigan'
new.loc[new['area_id'].str.contains('MN'), 'area_id'] = 'minnesota'
new.loc[new['area_id'].str.contains('MS'), 'area_id'] = 'mississippi'
new.loc[new['area_id'].str.contains('MO'), 'area_id'] = 'missouri'
new.loc[new['area_id'].str.contains('MT'), 'area_id'] = 'montana'
new.loc[new['area_id'].str.contains('NE'), 'area_id'] = 'nebraska'
new.loc[new['area_id'].str.contains('NV'), 'area_id'] = 'nevada'
new.loc[new['area_id'].str.contains('NH'), 'area_id'] = 'new hampshire'
new.loc[new['area_id'].str.contains('NJ'), 'area_id'] = 'new jersey'
new.loc[new['area_id'].str.contains('NM'), 'area_id'] = 'new mexico'
new.loc[new['area_id'].str.contains('NY'), 'area_id'] = 'new york'
new.loc[new['area_id'].str.contains('NC'), 'area_id'] = 'north carolina'
new.loc[new['area_id'].str.contains('ND'), 'area_id'] = 'north dakota'
new.loc[new['area_id'].str.contains('OH'), 'area_id'] = 'ohio'
new.loc[new['area_id'].str.contains('OK'), 'area_id'] = 'oklahoma'
new.loc[new['area_id'].str.contains('OR'), 'area_id'] = 'oregon'
new.loc[new['area_id'].str.contains('PA'), 'area_id'] = 'pennsylvania'
new.loc[new['area_id'].str.contains('RI'), 'area_id'] = 'rhode island'
new.loc[new['area_id'].str.contains('SC'), 'area_id'] = 'south carolina'
new.loc[new['area_id'].str.contains('SD'), 'area_id'] = 'south dakota'
new.loc[new['area_id'].str.contains('TN'), 'area_id'] = 'tennessee'
new.loc[new['area_id'].str.contains('TX'), 'area_id'] = 'texas'
new.loc[new['area_id'].str.contains('UT'), 'area_id'] = 'utah'
new.loc[new['area_id'].str.contains('VA'), 'area_id'] = 'vermont'
new.loc[new['area_id'].str.contains('VA'), 'area_id'] = 'virginia'
new.loc[new['area_id'].str.contains('WA'), 'area_id'] = 'washington'
new.loc[new['area_id'].str.contains('WV'), 'area_id'] = 'west virginia'
new.loc[new['area_id'].str.contains('WI'), 'area_id'] = 'wisconsin'
new.loc[new['area_id'].str.contains('WY'), 'area_id'] = 'Wyoming'
new.rename(columns={'area_id': 'state'}, inplace=True)
new.head(5)

,name,twitter,party,title,gender,state,district
0,Sherrod Brown,SenSherrodBrown,Democrat,sen,M,ohio,NaN
1,Maria Cantwell,SenatorCantwell,Democrat,sen,F,washington,NaN
2,Benjamin L. Cardin,SenatorCardin,Democrat,sen,M,maryland,NaN
3,Thomas R. Carper,SenatorCarper,Democrat,sen,M,delaware,NaN
4,"Robert P. Casey, Jr.",SenBobCasey,Democrat,sen,M,pennsylvania,NaN

In [6]:
# twitter_url_senate = r'../us-senate.csv'
# df2 = pd.read_csv(twitter_url_senate)

In [7]:
# new2 = df2[['name', 'twitter_handle', 'party', 'title', 'gender', 'state_name_slug']]
# new2.rename(columns={'twitter_handle': 'twitter', 'state_name_slug': 'state'}, inplace=True)
# new2.head(5)

In [8]:
# new = new.merge(new2, how='outer')
new.head()

,name,twitter,party,title,gender,state,district
0,Sherrod Brown,SenSherrodBrown,Democrat,sen,M,ohio,NaN
1,Maria Cantwell,SenatorCantwell,Democrat,sen,F,washington,NaN
2,Benjamin L. Cardin,SenatorCardin,Democrat,sen,M,maryland,NaN
3,Thomas R. Carper,SenatorCarper,Democrat,sen,M,delaware,NaN
4,"Robert P. Casey, Jr.",SenBobCasey,Democrat,sen,M,pennsylvania,NaN

In [9]:
len(new)

537

In [10]:
new.loc[new['title'] == 'sen', 'title'] = 'senator'
new.loc[new['title'] == 'rep', 'title'] = 'house of representatives'
new.head()

,name,twitter,party,title,gender,state,district
0,Sherrod Brown,SenSherrodBrown,Democrat,senator,M,ohio,NaN
1,Maria Cantwell,SenatorCantwell,Democrat,senator,F,washington,NaN
2,Benjamin L. Cardin,SenatorCardin,Democrat,senator,M,maryland,NaN
3,Thomas R. Carper,SenatorCarper,Democrat,senator,M,delaware,NaN
4,"Robert P. Casey, Jr.",SenBobCasey,Democrat,senator,M,pennsylvania,NaN

In [13]:
print(len(new.loc[new['title'] == 'senator']))
print(len(new.loc[new['title'] == 'house of representatives']))

100
437

In [14]:
new.to_csv('reps.csv', encoding='utf-8')

In [15]:
import GetOldTweets3 as got
tweetCriteria = got.manager.TweetCriteria().setUsername("barackobama whitehouse")\
                                           .setMaxTweets(2)
tweet = got.manager.TweetManager.getTweets(tweetCriteria)[0]
print(tweet.text)

Four years ago, @MichelleObama and I had the privilege to host Lt. Cmdr. Dan Cnossen and his fellow Paralympians and Olympians at the White House. Today, we’re so proud of him for winning gold and silver - while still representing the red, white, and blue.

In [16]:
tweetTrump =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                           .setSince("2019-12-25")\
                                           .setUntil("2020-06-19")\
                                           .setQuerySearch('coronavirus')
tweet2 = got.manager.TweetManager.getTweets(tweetTrump)
#for tw in tweet2:
#    print(tw.text, "\n")

In [17]:
tweetTrump =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                           .setSince("2019-12-25")\
                                           .setUntil("2020-06-19")\
                                           .setQuerySearch('covid')
tweet2 = got.manager.TweetManager.getTweets(tweetTrump)
#for tw in tweet2:
#    print(tw.text, "\n")

In [ ]:
tweetTrump =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                           .setSince("2019-12-25")\
                                           .setUntil("2020-06-19")\
                                           .setQuerySearch('virus')
tweet2 = got.manager.TweetManager.getTweets(tweetTrump)
#for tw in tweet2:
#    print(tw.text, "\n")

In [ ]:
tweetTrump =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('virus')
tweetTrump2 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('coronavirus')
tweetTrump3 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('covid')
tweetTrump4 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('covid-19')
tweetTrump5 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('lockdown')
tweetTrump6 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('shutdown')
tweetTrump7 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('hydroxychloroquine')
tweetTrump8 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('fauci')
tweetTrump9 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('pandemic')
tweet2 = got.manager.TweetManager.getTweets(tweetTrump9)
for tw in tweet2:
    print(tw.text, "\n")

In [29]:
tweetTrump =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('virus')
tweetTrump2 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('coronavirus')
tweetTrump3 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('covid')
tweetTrump4 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('covid-19')
tweetTrump5 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('lockdown')
tweetTrump6 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('shutdown')
tweetTrump7 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('hydroxychloroquine')
tweetTrump8 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('fauci')
tweetTrump9 =  got.manager.TweetCriteria().setUsername("realDonaldTrump")\
                                            .setSince("2019-12-25")\
                                            .setUntil("2020-06-20")\
                                            .setQuerySearch('pandemic')
tweet2 = got.manager.TweetManager.getTweets(tweetTrump9)
for tw in tweet2:
    print(tw.text, "\n")

We have just reached a very sad milestone with the coronavirus pandemic deaths reaching 100,000. To all of the families &amp; friends of those who have passed, I want to extend my heartfelt sympathy &amp; love for everything that these great people stood for &amp; represent. God be with you!

I am proud to announce that the United States will donate ventilators to our friends in India. We stand with India and @narendramodi during this pandemic. We’re also cooperating on vaccine development. Together we will beat the invisible enemy!

.@CBS and their show, @60Minutes, are doing everything within their power, which is far less today than it was in the past, to defend China and the horrible Virus pandemic that was inflicted on the USA and the rest of the World. I guess they want to do business in China!

We are getting great marks for the handling of the CoronaVirus pandemic, especially the very early BAN of people from China, the infectious source, entering the USA. Compare that to the Obama/Sleepy Joe disaster known as H1N1 Swine Flu. Poor marks, bad polls - didn’t have a clue!

Getting great reviews, finally, for how well we are handling the pandemic, especially our strong production of desperately needed ventilators, the building of field hospitals &amp; beds, and soon, the great things we are doing on testing. People are really working well together!

I never said the pandemic was a Hoax! Who would say such a thing? I said that the Do Nothing Democrats, together with their Mainstream Media partners, are the Hoax. They have been called out &amp; embarrassed on this, even admitting they were wrong, but continue to spread the lie!

96% Approval Rating in the Republican Party. Thank you! This must also mean that, most importantly, we are doing a good (great) job in the handling of the Pandemic.

“I think the situation is unprecedented, and there is no question about that. It’s whiplash! The economy was moving forward at a rapid pace in terms of growth, jobs and even wage increases, and all of a sudden the pandemic hit and the....

I love Michigan, one of the reasons we are doing such a GREAT job for them during this horrible Pandemic. Yet your Governor, Gretchen “Half” Whitmer is way in over her head, she doesn’t have a clue. Likes blaming everyone for her own ineptitude! #MAGA

For decades the @CDCgov looked at, and studied, its testing system, but did nothing about it. It would always be inadequate and slow for a large scale pandemic, but a pandemic would never happen, they hoped. President Obama made changes that only complicated things further.....